<template name="projects">
  {{#ionList}}
    {{#each projects}}
       {{#ionItem path="projects.show" conLeft=true iconRight=true avatar=true}}
        <!-- <img src="http://alaframboise.github.io/presentations/esrigithub/images/github.png" /> -->
        <img class="project-uicon" src="{{get_project_avatar_url this}}" data-id="{{uId}}">
        <i class="icon ion-person-stalker project-person-amount">{{watchers_count}}</i>
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <!-- <a href={{url}}>{{url}}</a> -->
      {{/ionItem}}
    {{/each}}
  {{/ionList}}
</template>

<template name="newProject">
  {{#ionModal focusFirstInput=true title="发布新项目"}}
    {{> quickForm collection="Projects" id="project-new-form" type="insert" omitFields="watchers,owner" buttonContent="发布"}}
  {{/ionModal}}
</template>

<template name="editProject">
  {{#ionModal focusFirstInput=true title="编辑项目"}}
    <!-- 此处的doc无法取到project，用hook的方式修改doc为当前编辑的project达成。
     后续可以为editProject增加一个route，在router中的data函数里指定project作为context，更为标准的做法 -->
    {{> quickForm collection="Projects" id="project-edit-form" doc=this type="update" omitFields="watchers,owner" buttonContent="保存"}}
  {{/ionModal}}
</template>

<template name="groupEmail">
  {{#ionModal focusFirstInput=true title="发送小组邮件"}}
    {{> quickForm collection="Emails" id="group-email-form" type="normal" buttonContent="发送"}}
  {{/ionModal}}
</template>

<template name="_projectPlainWatchItem">
  {{#with project}}
    {{#ionItem path=../path iconRight=true}}
      <h2>{{name}}</h2>
      <p>
        {{description}}
      </p>
      <i class="icon ion-eye plain-watch-item">关注者</i>
    {{/ionItem}}
  {{/with}}
</template>

<template name="_projectPlainOwnerItem">
  {{#with project}}
    {{#ionItem path=../path iconRight=true}}
      <h2>{{name}}</h2>
      <p>
        {{description}}
      </p>
      <i class="icon ion-person plain-owner-item">创建者</i>
    {{/ionItem}}
  {{/with}}
</template>

<template name="_projectWatchItem">
  {{#with project}}
    {{#ionItem path=../path iconRight=true}}
      <h2>{{name}}</h2>
      <p>
        {{description}}
      </p>
      <i class="icon ion-eye-disabled unwatch-item">取消关注</i>
    {{/ionItem}}
  {{/with}}
</template>

<template name="_projectOwnerItem">
  {{#with project}}
    {{#ionItem path=../path iconRight=true}}
      <h2>{{name}}</h2>
      <p>
        {{description}}
      </p>
      <i class="icon ion-trash-a del-item">删除</i>
    {{/ionItem}}
  {{/with}}
</template>

<template name="projectsShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button" text=false}}
  {{/contentFor}}

  {{#with project}}
    {{#if isTeamOwner}}
      {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-right" data-ion-modal="editProject" id="EditProjectBtn">
          {{> ionIcon icon='edit'}}
        </button>
      {{/contentFor}}
    {{/if}}
  {{/with}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">项目详情</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#with project}}
        <div class="list card" id="ProjectDetails">

          <div class="item item-avatar">
            <img src="{{get_project_avatar_url this}}">
            {{#with owner}}
              <div class="project-owner"><a href="{{pathFor 'users.show'}}">{{username}}</a></div>
            {{/with}}
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p>关注者<b>{{watchers_count}}</b>人：
            {{#each watchers}}
              <a href="{{pathFor 'users.show'}}"> {{username}}</a>,
            {{/each}}
          </p>
          </div>

          <div class="item">
            <p> &nbsp; 项目主页： <a href="{{url}}" target="_blank"> {{url}} </a></p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
          <!--
              <a class="tab-item" href="#" data-ion-modal="groupEmail">
                <i class="icon ion-email"></i>
                写邮件
              </a>
          -->
              <a class="tab-item" href="#" data-action="groupEmail">
                <i class="icon ion-email"></i>
                申请加入
              </a>
              {{#if isWatcher}}
              <a class="tab-item" href="#" data-action="unwatch">
                <i class="icon ion-eye-disabled"></i>
                取消关注
              </a>
              {{else}}
              <a class="tab-item" href="#" data-action="watch">
                <i class="icon ion-eye"></i>
                关注
              </a>
              {{/if}}
              <a class="tab-item" href="#" data-action="share">
                <i class="icon ion-share"></i>
                分享
              </a>
            </div>

          </div>
 
          <div class="item item-body">
            <h2>项目学习指导</h2>

            {{#each steps}}
              <li class="item-desc"> {{this.description}} <br> </li>
              <hr>
              {{#if snapshot_is_img}}
              <img src="{{this.snapshot_url}}" width='300px' />
              {{else}}
              <a href="{{this.snapshot_url}}" target=_blank>{{this.snapshot_url}}</a>
              {{/if}}
              &nbsp;<br>&nbsp; 
            {{/each}}
            
          </div>


      {{/with }}    

    {{/ionContent}}
  {{/ionView}}
</template>
