// Custom
$positive: #009900;

.bar .title {

}

element.style {
  left: 12px;
  right: 12px;
}

// Ionic
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.date-posted {
  font-size: 12px;
  width: 96px;
  text-align: right;
  position: absolute;
  top: 16px;
  right: 16px;
  color: #999999;
}

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.popover {
  height: auto;
}

.item p {
  margin-bottom: 0;
}

.item-button-left, .item-button-right {
  button {
    top: 16px;
  }
}

.loading-container .loading {
  font-size: 25px;
}

li.item-desc {
  text-align: left;
}

.item-body {
  overflow: auto;
  padding: 16px;
  text-overflow: inherit;
  white-space: normal;
  text-align: center;
}
.welcome-hint {
  text-align: center;
  color: red;
  opacity: 0.5;
}
.welcome-brief {
  display: none;
  text-align: center;
  margin-top: 10px;
}
.welcome-amount {
  font-size: 1.5em;
  color: black;
  padding: 0.1em;
}