<template name="welcome">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">毛豆网移动版</h1>
  {{/contentFor}}

  {{#if currentUser}}
    {{#contentFor "headerButtonRight"}}
      <button class="button button-clear pull-right" data-ion-modal="newGoal">
        {{> ionIcon icon='ios-plus-empty'}}
      </button>
    {{/contentFor}}
  {{/if}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
      {{#if true}}
        <div class="padding">
          {{#if currentUser}}
            <h4>欢迎你，{{hisname}} </h4>
          {{/if}}
          <p>目前毛豆网移动版上已有 {{usercount}} 个学习用户，<br>他们是
            {{#each users}}
              <a href="{{pathFor 'users.show'}}"> @{{username}}</a>,
            {{/each}}
          </p>
          <h5><li>最新项目发布</li></h5>
          {{> projects}}
        </div>
      {{else}}
        {{> atForm}}
      {{/if}}      
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>