<template name="welcome">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title welcome-header">毛豆网移动版</h1>
  {{/contentFor}}

  {{#if currentUser}}
    {{#contentFor "headerButtonRight"}}
      <button class="button button-clear pull-right" data-ion-modal="newProject">
        {{> ionIcon icon='ios-plus-empty'}}
      </button>
    {{/contentFor}}
  {{/if}}

  {{#ionView}}
    {{#ionContent}}
      <div id="WelcomeMain" class="">
      {{#if true}}
        <div class="">
          {{#if currentUser}}
            <h4 class="welcome-hint">欢迎你，{{hisname}} </h4>
          {{/if}}
          <p class="welcome-brief">平台上已有<span class="welcome-amount">{{usercount}}</span>个学习用户：<br>
            {{#each users}}
              <a href="{{pathFor 'users.show'}}" style="color: {{usercolor}};"> {{username}}</a>
            {{/each}}
          </p>
          <!--
          <h5><li>最新项目发布</li></h5>
          -->
          {{> projects}}
        </div>
      {{else}}
        {{> atForm}}
      {{/if}}      
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>