<template name="newGoal">
  {{#ionModal focusFirstInput=true title="发布新目标"}}
    {{> quickForm collection="Goals" id="goal-new-form" type="insert" omitFields="userId,voterIds,numberOfVotes,numberOfComments,createdAt,teamMembers" buttonContent="发布"}}
  {{/ionModal}}
</template>

<template name="_goalItem">
  {{#with goal}}
    {{#ionItem path=../path iconLeft=true iconRight=true avatar=true}}
      <img src='/maodou-logo.png' width='60px'/>
      <small>
        <!-- {{tagline}} -->
        {{#with author}}
            {{profile.name}} 
            <a href="/users/{{_id}}">@{{username}}</a> 发起了
        {{/with}}
      </small>
      <h2>{{desc}}</h2>
      <span class="comments-count">
        {{numberOfComments}}
      </span>
      <small>目前已有 {{numberOfMembers}} 人在一起学习</small>
    {{/ionItem}}
    {{#ionItem buttonRight=true avatar=true}}
      {{#if isTeamMember}}
      <button data-action="join" class="button button-positive pull-right" >{{> ionIcon icon="ios-people"}} <small>已在该小组</small></button>
      {{else}}
      <button data-action="join" class="button pull-right" >{{> ionIcon icon="ios-people-outline"}} <small>加入一起学</small></button>
      {{/if}}
<!--
      {{#if isMentorMember}}
      <button data-action='help' class="button button-positive pull-right" >{{> ionIcon icon="ios-heart"}} <small>正在帮他学</small></button>
      {{else}}
      <button data-action='help' class="button button-positive pull-right" >{{> ionIcon icon="ios-heart-outline"}} <small>我能够帮他</small></button>
      {{/if}}
-->
    {{/ionItem}}
  {{/with}}
</template>

<template name="goalsShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">目标详情</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="product-detail">
        
        {{#with goal}}

          {{#ionItem iconLeft=true iconRight=true class="item-text-wrap" avatar=true}}
            <img src='/maodou-logo.png' width='60px'/>
            <h2 class="product-title">
              <!-- <a href="{{url}}" target="_blank" class="positive">{{name}}</a> -->
              {{desc}}
            </h2>
            {{#with author}}
              <p>
                <small>发布者：<a href="{{pathFor 'users.show'}}" class="dark">{{username}}</a></small>
              </p>
            {{/with}}   
            <span class="date-posted">
              {{datePosted}}
            </span>
          {{/ionItem}}

          <!--
          <div class="padding product-detail-upvotes">
            <h5>支持：<small>{{numberOfVotes}}</small></h5>
            {{#each voters}}
              <a href="{{pathFor 'users.show'}}">
                {{> avatar user=this size="small" shape="circle"}}
              </a>
            {{/each}}
          </div>
          -->

          <div class="padding text-left">
            <h5>自身基础: </h5>
              <li>{{background}}</li>
            <h5>期望达到效果：</h5>
              <li>{{result}}</li>
            <h5>可以承受费用：</h5>
              <li>{{expense}}</li>
            <h5>{{numberOfMembers}} 人愿意一起学: </h5>
            {{#each teamMembers}}
            <li>
              <a href="/users/{{this}}" style='position:relative'>
                <!-- <img src="{{picture}}" height="40" width="40"> -->
                @{{getusername this}}
              </a>
            </li>
            {{/each}}
          </div>
          <br>
        {{/with}}
<!--
        <div class="padding product-detail-comments">
          <h5>评论: <small>{{numberOfComments}}</small></h5>
          <button class="button button-positive button-small button-circle button-new-comment" data-action="new-comment">
            {{>ionIcon icon="plus"}}
          </button>
        </div>
-->
      </div>

    {{/ionContent}}
  {{/ionView}}

</template>