<template name="profile">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">毛豆网</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="">
      {{#if currentUser}}
        <div class="profile-wrapper">
          {{#with user}}
          <img src="{{get_avatar_url this}}" class="profile-main-img" />
            <!-- <h2>{{username}} 的资料</h2> -->
            {{#each emails}}
              <p class="profile-email">Email: {{address}}</p>
            {{/each}}
                  
            {{#if isPageOwner}}
              {{#ionList}}
                <!-- 已经关注的项目有：-->
                {{#each watchedProjects}}
                  {{> _projectWatchItem project=this path="projects.show"}}
                {{/each}}
                <!-- 属于我的项目有：-->
                {{#each ownedProjects}}
                  {{> _projectOwnerItem project=this path="projects.show"}}
                {{/each}}
              {{/ionList}}
            {{else}}
              {{#ionList}}
                <!-- 已经关注的项目有：-->
                {{#each watchedProjects}}
                  {{> _projectItem project=this path="projects.show"}}
                {{/each}}
                <!-- 属于我的项目有：-->
                {{#each ownedProjects}}
                  {{> _projectItem project=this path="projects.show"}}
                {{/each}}
              {{/ionList}}
            {{/if}}
                  
          {{/with}}
        </div>
      {{else}}
        {{> atForm}}
      {{/if}}      </div>
    {{/ionContent}}
  {{/ionView}}

</template>

<template name="usersShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{user.username}}的个人资料</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div id="UserProfile" class="profile-wrapper">
        {{#with user}}
        <img src="{{get_avatar_url this}}" class="profile-main-img" />
          <!-- <h2>{{username}} 的资料</h2> -->
            {{#each emails}}
              <p class="profile-email">Email: {{address}}</p>
            {{/each}}
            
            <!--
            {{#each watchedProjectIds}}
              <p>Projects: {{this}}</p>
            {{/each}}
            -->
          
          {{#if isPageOwner}}
              {{#ionList}}
                <!-- 已经关注的项目有：-->
                {{#each watchedProjects}}
                  {{> _projectWatchItem project=this path="projects.show"}}
                {{/each}}
                <!-- 属于我的项目有：-->
                {{#each ownedProjects}}
                  {{> _projectOwnerItem project=this path="projects.show"}}
                {{/each}}
              {{/ionList}}
            {{else}}
              {{#ionList}}
                <!-- 已经关注的项目有：-->
                {{#each watchedProjects}}
                  {{> _projectItem project=this path="projects.show"}}
                {{/each}}
                <!-- 属于我的项目有：-->
                {{#each ownedProjects}}
                  {{> _projectItem project=this path="projects.show"}}
                {{/each}}
              {{/ionList}}
            {{/if}}
            
        {{/with}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
