<template name="profile">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">毛豆网</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
      {{#if currentUser}}
        <div class="padding">
          {{#with user}}
            <h2>{{username}} 的资料</h2>
            {{#each emails}}
              <p>Email: {{address}}</p>
            {{/each}}
            <img src="{{get_avatar_url this}}">
          {{/with}}
        </div>
      {{else}}
        {{> atForm}}
      {{/if}}      </div>
    {{/ionContent}}
  {{/ionView}}

</template>

<template name="usersShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile of @{{user.username}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

        {{#with user}}
          <h2>{{username}} 的资料</h2>
            {{#each emails}}
              <p>Email: {{address}}</p>
            {{/each}}
            <img src="{{get_avatar_url this}}">
          {{#ionList}}
           
            {{#each votedProducts}}
              {{> _productItem product=this path="products.show"}}
            {{/each}}
          {{/ionList}}
        {{/with}}

    {{/ionContent}}
  {{/ionView}}
</template>
