<template name="settings">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">账号设置</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if currentUser}}
        <div class="padding">
          <button class="button button-positive button-block" data-action="logout">退出当前账号</button>
          <button class="button button button-block" data-action="delete">删除此用户</button>
        </div>
      {{else}}
        {{> atForm}}
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
